<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <contextName>rundev</contextName>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/${CONTEXT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.home}/logs/${CONTEXT_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.security" level="DEBUG" />
    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.apache.tiles" level="DEBUG" />
    <logger name="com.bigfoot.rundev" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>